{{ define "imports"}}
<link rel="stylesheet" href="/static/about.css">
{{ end }}
{{ define "content" }}
<div class="container">
    <div class="image">
        <img src="/static/assets/dusan.jpg" alt="Dusan Djordjic">
    </div>
    <h1>Hi There</h1>
    <p>
        My name is Dusan Djordjic, and I have been a dedicated software developer since 2018.
        I began my career as a frontend developer, gradually transitioning to backend and DevOps roles. 
        In my spare time, I enjoy diving into low-level and embedded programming projects.
    </p>
    <p>
        I currently work full-time at <a href="https://altitudeit.org" target="_blank" class="highlight">AltitudeIT</a> in Novi Sad, Serbia, 
        while also pursuing my studies in Electrical Engineering and Embedded Programming 
        at the University of Technical Sciences in Novi Sad.
    </p>
    <p>
        If you need a web application, I'm available for contract work and always open to new opportunities. 
        Additionally, I have started a blog where I document my learning journey.
        This blog serves as a personal knowledge base and a resource for others interested in programming. 
        Follow my blog to stay updated on my progress and insights as I strive to become a 10x developer.
    </p>
</div>
{{ end }}
