{{ define "imports"}}
<link rel="stylesheet" href="/static/about.css">
{{ end }}
{{ define "content" }}
<div class="container about">
    <div class="image">
        <img src="/static/assets/dusan.jpg" alt="Dusan Djordjic">
    </div>
    <h1>Hi There</h1>
    <p>
        My name is Dusan Djordjic, and I have been a dedicated software developer since 2015.
        I began my career as a frontend developer, gradually transitioning to backend and DevOps roles. 
        In my spare time, I enjoy diving into low-level and embedded programming projects.
    </p>
    <p>
        I am currtently open to work and 
        while also pursuing my studies in Electrical Engineering and Embedded Programming 
        at the University of Technical Sciences in Novi Sad.
    </p>
    <p>
        If you need a web application, I'm available for contract work and always open to new opportunities. 
        Additionally, I have started a blog where I document my learning journey.
        This blog serves as a personal knowledge base and a resource for others interested in programming. 
        Follow my blog to stay updated on my progress and insights as I strive to become a 10x developer.
    </p>
    <h2>More about my programming journey</h2>
    <p>
        I started programing when I was 12-13 years old in visual basic using visual studio making windows form applications,
        after a while and dozen of small applications I started learning C#. I was also usign C# to make windows for applications and even made some games.
    </p>
    <h3>Web development</h3>
    <p>
        Next step in my programming journey were learning HTML, CSS, JS, React and Angular. I've spent more than 2 years doing only frontend until I wanted to make 
        a more complicated application which needed to have users, permissions etc. That's how I started learning about backend development.
        First in Node.js using express but after some time I started using Nest.js as it's very simmilar to angular and I was at the time working as 
        Frontend Angular developer. I also started learning Golang and Rust at some time.
        In 2022 I got a new job as full stack developer at a startup company.
        I was writing manily golang but I also did many frontend related work, on one project I did rust and much more. You know how it goes at startups :).
        I'm very grateful for that, because being thrown into the fire and when there is almost no one to help you is great learning experience.
    </p>
    <h3>University</h3>
    <p>
        After working for 9 months as frontend developer I've decided to go to university and learn about math, electronics and low-level programming. 
        I was already familiar with C programming, pointers, memory and so on and I loved it, so that's why I wanted to learn about
        embedded programming, IoT, firmware development and everything else related to that. I'm in a third year now (2024) and so far it was a great experience. 
        At the end of a first year I got a job as full stack developer at local startup company (mentioned above)
    </p>
    <h2>Teaching others</h2>
    <p>
        Being self thought teached me <strong>not to fear new technology and something I don't understand yet</strong> 
        and I think that's the greates skill you can have as a programmer. I know I can learn anything and it's an awesome feeling.
    </p>
    <p>
        Recently I started giving programming lessons and I giving my best to teach people how to think like a programmer.
        My course is aimed to make someone a programmer in at least 6 months.
        I cover everything from C, HTML, JS, React, Golang, Git, Docker, Devops topics and really everything that someone needs to be able to an independet programmer.
        Main idea of the course is to get someone good enough so they can work on some of my projects or their personal ones. I offer everyone an opportunity to work with me on 
        some of my apps. I think that's great for them as they can really use git for example, and see how it feels working in a team of 2-4 people. (It's also great for me :P)
    </p>
    <p>
    If you have some programming question or want to join my course feel free to <a href="/contact">contact me</a>.
    </p>
    <h2>Techonologies I know and have worked with</h2>
    <p>
        Technoloies are listed in order I'm confortable with them grouped by use-cases.
        Also note that there are some techonologies I haven't mentinoned above, because it would make the text to long,
        so if you have some questions about my experience with something, please <a href="/contact">contact me</a> about that.
    </p>
    <p>Didn't know where to mention that I am great with Git so here it is</p>
    <ul>
        <li>
            Backend Programming
            <ul>
                <li>Golang</li>
                <li>NodeJS</li>
                <li>Rust</li>
            </ul>
        </li>
        <li>
            Frontend Programming
            <ul>
                <li>React</li>
                <li>Angular</li>
                <li>NextJS</li>
                <li>Typescript</li>
                <li>Javascript</li>
                <li>HTML, CSS</li>
            </ul>
        </li>
        <li>
            Dev/Ops
            <ul>
                <li>Docker</li>
                <li>Github CI/CD</li>
                <li>Nginx</li>
                <li>Kubernetes</li>
                <li>Jenkins</li>
            </ul>
        </li>
        <li>
            Databases
            <ul>
                <li>Postgres</li>
                <li>SQLite</li>
                <li>MySQL</li>
            </ul>
        </li>
        <li>
            Web scrapping
            <ul>
                <li>Python</li>
                <li>Golang</li>
                <li>NodeJS</li>
            </ul>
        </li>
        <li>
            Making Dev tools
            <ul>
                <li>Golang</li>
                <li>Rust</li>
                <li>C</li>
            </ul>
        </li>
        <li>
            External Services
            <ul>
                <li>Redis</li>
                <li>RabbitMQ</li>
                <li>Nats</li>
            </ul>
        </li>
        <li>
            Could providers
            <ul>
                <li>Digital Ocean</li>
                <li>AWS</li>
                <li>Azure</li>
            </ul>
        </li>
        <li>
            Scripting
            <ul>
                <li>Python</li>
            </ul>
        </li>
        <li>
            CUDA programming
            <ul>
                <li>C, C++</li>
            </ul>
        </li>

    </ul>
</div>
{{ end }}
