{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Diary</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/vars.css">
    <link rel="stylesheet" href="/static/layout.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/base.css">
    {{ template "imports" . }}
</head>
<body>
    <div class="base-layout">
        <header class="header">
            <h3><a href="/">DEV DIARY</a></h3>
            <nav class="nav">
                <ul class="links">
                    <li><a href="/">Posts</a></li>
                    <li><a href="/tags">Tags</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main>{{ template "content" . }}</main>
        <footer class="footer">
            <div class="container">
                <ul class="links">
                    <li><a href="/">Posts</a></li>
                    <li><a href="/tags">Tags</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>
{{ end }}
