{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Diary</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <header class="header">
        <nav class="nav">
            <a href="/" class="logo">Dev Diary</a>
            <ul class="links">
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
   {{ template "content" . }} 
   <footer>
   &copy; 2024 devdiary.com
   </footer>
</body>
</html>
{{ end }}