{{ define "imports"}}
<link rel="stylesheet" href="/static/home.css">
<link rel="stylesheet" href="/static/posts.css">
{{ end }}

{{ define "content" }}
<div class="container">
    <h1>Welcome to Dev Diary!</h1>
    <p>Here, I'll be sharing my journey of learning new programming techniques and languages. Through this blog, I aim to create useful posts about what I've learned and share my knowledge with others to help them achieve their programming goals.</p>
    <h2>Recent Posts</h2>
    <div class="posts">
    {{ range .Posts}}
        <div class="post">
            <a class="image-link" href="/posts/{{ .ID }}"><img class="image" src="{{ .ImageURL }}" /></a>
            <div class="data">
                <p class="date">{{ .CreatedAt.Format "2006-01-02 15:04" }}</p>
                <h3 class="title"><a href="/posts/{{ .ID }}">{{ .Title }}</a></h3>
                <p class="shortdesc">{{ .Description}}</p>
                <div class="tags">
                {{ range .Tags}}
                    <a href="/tags/{{.Text}}" >#{{ .Text }}</a>
                {{ end }}
                </div>
            </div>
        </div>
    {{ end }}
    </div>
</div>
{{ end }}
